# Fungsi

In [ ]:
def happy(person1="you", person2="you", person3="you"):
    print("Happy Birthday to",person1,"!")
    print("Happy Birthday to",person2,"!")
    print("Happy Birthday to",person3,"!")

In [ ]:
happy("Budi") #Positional passing

In [ ]:
happy(person2="Budi")  #Keyword passing

In [ ]:
happy("Alex",person3="Budi",person2="Cici")  #Mixed passing

# Future Value sebagai Fungsi

In [ ]:
def main():
    # Input
    awal = float(input ("Masukkan investasi anda mula-mula? "))
    tabungan = awal
    bunga = float(input ("Berapa bunga per tahunnya? "))
    n = int(input ("Berapa lama akan menyimpan investasi (dalam tahun)? "))
    future(tabungan, bunga, n)

def future(tabungan, bunga, n):
    # Proses
    for i in range(n):
        tabungan = tabungan * (1 + bunga)
    # Output
    print("Investasi awal = ",awal, " bunga per tahun = ", bunga,
          " maka dalam ",n, " tahun adalah = ",tabungan)

In [ ]:
N = 1000
def nilai(N):
    N = N * 2000
    print(N)
nilai(N)
print(N) # nilai dalam fungsi bersifat lokal

2000000
1000

In [ ]:
# Bagaimana caranya supaya nilai N dalam fungsi bisa keluar ke program utama?

In [ ]:
N = 1000
def nilai(N):
    N = N * 2000
    print(N)
    return N # 1. menggunakan return
N = nilai(N)
print(N)

2000000
2000000

In [ ]:
N = [1000] #2. menggunakan container list
def nilai(N):
    N[0] = N[0] * 2000
    print(N)
nilai(N)
print(N)

[2000000]
[2000000]

# Latihan 1

In [ ]:
# Tahun Kabisat (Leap Year):
# 1. Habis dibagi 4 dan bukan habis dibagi 100
# 2. Habis dibagi 400


def is_year_leap(year):
    if ((year%4==0) and (year%100!=0)) or (year%400==0):
        return True
    else:
        return False

In [ ]:
test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
	yr = test_data[i]
	print(yr,"->",end="")
	result = is_year_leap(yr)
	if result == test_results[i]:
		print("OK")
	else:
		print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK

# Latihan 2

In [ ]:
def is_year_leap(year):
    if ((year%4==0) and (year%100!=0)) or (year%400==0):
        return True
    else:
        return False


def days_in_month(year, month):
    days = [31,28,31,30,31,30,31,31,30,31,30,31]
    result = is_year_leap(year)
    if (result == True) and (month == 2):
        days[1]=29
    return days[month-1]

In [ ]:
test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
	yr = test_years[i]
	mo = test_months[i]
	print(yr, mo, "->", end="")
	result = days_in_month(yr, mo)
	if result == test_results[i]:
		print("OK")
	else:
		print("Failed")

1900 2 ->OK
2000 2 ->OK
2016 1 ->OK
1987 11 ->OK